{% extends "./base.html" %} 
{% block menu %} 
    {% with page=2 %} 
        {{block.super}} 
    {% endwith %} 
{% endblock %} 
{% block content %}

<style>

  .jumbotron {
    background-color: black;
  }

  .product-detail-title {
    font-size: 24px;
    font-weight: bold;
  }

  .product-detail-image {
    width: 80%;
    height: 550px;
  }
</style>

<div class="jumbotron text-center"></div>

<div>
  <div class="container mt-5 mb-5">
    <div class="row">
      <div class="col-6">
        <image class='product-detail-image' src="/{{product.image}}">
      </div>

      <div class="col-6 mt-5">
        <div class='product-detail-title'>{{product.name}}</div>
        <br>
        <table class="table">
          <tr>
            <td>Loại sản phẩm:</td>
            <td>{{product.category.name}}</td>
          </tr>
          <tr>
            <td>Giá bán:</td>
            <td><b>{{product.price}} ₫</b></td>
          </tr>
          <tr>
            <td colspan="2"><b>{{product.name}}</b> {{product.description}}</td>
          </tr>
        </table>
        <br>
        <a class="btn btn-secondary" href="/product"><i class="fas fa-undo"></i> Quay lại</a>
        <a class="btn btn-danger" href="/order-product/{{product.id}}"><i class="fas fa-shopping-cart"></i> Mua hàng</a>
      </div>
    </div>
  </div>
</div>
{% endblock %}