{% extends "./base.html" %} 
{% block menu %} 
    {% with page=2 %} 
        {{block.super}} 
    {% endwith %} 
{% endblock %} 
{% block content %}

<style>

    .jumbotron {
      background-color: black;
    }

  </style>

<div class="jumbotron text-center"></div>

<div class="container mt-5 mb-5">
        <p>Cảm ơn bạn đã mua sản phẩm của chúng tôi. Chúng tôi sẽ chuyển sản phẩm cho bạn trong thời gian 24h</p>
        <a class="btn btn-danger" href='/product'><i class="fas fa-shopping-cart"></i> Tiếp tục mua hàng</a>
</div>

{% endblock %}